<ion-header [translucent]="true">
  <ion-toolbar [ngClass]="tipo ==0 ? 'tema-carga' : 'tema-descarga'">
    <ion-buttons slot="start">
      <ion-back-button text="BACK" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{tipo == 0 ? 'CARGA' : 'DESCARGA'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Guardar()">
        <img class="icons" src="../../assets/img/disk.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  [ngClass]="cameraClass" scrollbar="true" [fullscreen]="true">
  <ion-card class="card-size">
    <ion-card-header >
      <ion-card-title>Camion: {{cargaDescarga.codigo_camion}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            {{cargaDescarga.sucursal}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Operador: {{cargaDescarga.operador}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <div [ngClass]="'cargaOdescarga'" ></div>
  </ion-card>
    <ion-item class="input-custom input-center" >
      <ion-input class="input-custom input-center" #q label="Codigo" labelPlacement="floating" [(ngModel)]="codigo" (keyup.enter)="agregarCaja(q.value)" enterkeyhint="send"></ion-input>
      <ion-icon (click)="scan()" slot="end" name="qr-code-outline"></ion-icon>
    </ion-item>
    <ion-list>
      <ion-content style="height: 200px;" [scrollEvents]="true" class="Scroll">
        <ion-item-sliding *ngFor="let element of cargaDescarga.detalles; let i= index" >
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../assets/img/box64.png" />
            </ion-thumbnail>
            <p>
              {{element.codigo_producto}}
            </p>      
          </ion-item>
      
          <ion-item-options>
            <ion-item-option (click)="Eliminar(element, i)" color="danger">ELIMINAR</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </ion-content>

    </ion-list>
</ion-content>
