/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



// Hide all elements
body.barcode-scanning-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
  }
  
  // Show only the barcode scanner modal
  .barcode-scanning-modal {
    visibility: visible;
  }
  
  @media (prefers-color-scheme: dark) {
    .barcode-scanning-modal {
      --background: transparent;
      --ion-background-color: transparent;
    }
  }
  
.modal-transparency { 
    --background: transparent; 
    --height: 100%;
    --width: 100%

  }

//** ----------- CONFIGURACIONES ----------- **
.items-center{ //Funciona correctamente con un colocando en un <ion-item class="items-center">
    justify-content: center;
	display: flex!important;
 	align-items: center!important;
}

//**------------- VISTAS ---------------- ** 
.div-carga{
    width: 100%;
    height: 10px;
    background: green !important;
}

.div-descarga{
    width: 100%;
    height: 10px;
    background: red !important;
}

//**------------------- IMAGEN TAMAÑO ICONS ---------** 
.icons{
    width: 25px;
    height: 25px;
}

//** ------------------ CARDS ----------------- **
.card-size{ //colocar el <ion-card class="card-size">
    // padding-top: 10px;
    width: 100%;
     border-radius: 3px;
     ion-card-header {
         padding-top: 0px;
     }
     ion-card-content {
         ion-grid{
             padding-top: 0px;
             ion-row{
                 padding-top: 0px;
                 ion-col{
                     padding-top: 0px;
                     margin-top: 0px;
                 }
             }
             
         }
     }
     
 }



 //**------------------ INPUTS --------------- ** 

.input-custom{
    font-size: 15px;
    width: 100%;
}

.input-center{
    text-align: center;
    font-size: 30px;
}

.input-lefth{
    text-align: left;
    font-size: 30px;
}

.input-rigth{
    text-align: right;
    font-size: 30px;
}

//**---------------------- CONTENIDO SCROLL -------------- ** 
.Scroll{
    height: 80vh!important;
}

//**-------------------- TEMAS --------------------------**
.tema-carga{
    --background: green !important;
    --color:white;
}

.tema-descarga{
    --background: red !important;
    --color:white;
}

.tema-principal{
    --background: orange !important;
    --color:white !important;
}

//*-------------------- STYLE ALERTAS ---------------------**

.alertDanger{
    .alert-wrapper .alert-head{
        text-align: center;
        background-color: white !important;
        color: black !important;   
    }
  
    .alert-wrapper .alert-message{
        color:black !important;
        background-color: white !important;
        font-size: 20px;
        text-align: center;
  
    } 
  
    .alert-wrapper .alert-button-group{
        background-color: rgb(194, 130, 11) !important;
        color: white !important;   
        justify-content: center;  
    }
  
     .alert-wrapper{
        background-color: white !important;
        color: black !important;
    }
  
    .alert-wrapper .alert-title{
        color: black;
    }
  
    .alert-wrapper .alert-button-group .alert-button{
        color: white !important;
    }
  }


  .alertInfo{
    .alert-wrapper .alert-head{
        text-align: center;
        background-color: white !important;
        color: black !important;   
    }

    .alert-wrapper .alert-message{
        color:black !important;
        background-color: white !important;
        font-size: 20px;
        text-align: center;

    } 

    .alert-button-group{
        background-color: #0da8e6 !important;
        color: white !important; 
    }

    .alert-wrapper{
        background-color: white !important;
        color: black !important;
    }

    .alert-title{
        color: black;
    }

    .alert-button{
        color: white !important;
    }
}

.alertSuccess{
    .alert-wrapper .alert-head{
        text-align: center;
        background-color: white !important;
        color: black !important;   
    }

    .alert-button-group{
        text-align: center;
        background-color: rgb(10, 209, 60) !important;
        color: white !important;   
        justify-content: center;  

    }

    .alert-wrapper .alert-message{
        color:black !important;
        background-color: white;
        font-size: 20px;
        text-align: center;

        
    } 

    .alert-wrapper{
        background-color: white !important;
        color: black !important;

    }

    .alert-title{
        color: black !important;
    }

    .alert-button{
        color: white !important;
    }
}
