<ion-header [translucent]="true">
  <ion-toolbar class="tema-principal">
    <ion-title>
      Carga & Descarga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >
    <ion-item  *ngFor="let element of listaCargaDescarga; let i= index" (click) ="modificar(element)">      <ion-card  class="card-size">
        <ion-card-header>
          <ion-card-title>Camion:{{element.codigo_camion}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                Paquetes: {{element.contador}}
              </ion-col>
              <ion-col>
                Sucursal: {{element.sucursal}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Operador: {{element.operador}}
              </ion-col>
              <ion-col>
                <b>{{element.tipo == 0 ? 'Carga' : 'Descarga'}}</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <div [ngClass]="element.tipo == 0 ? 'div-carga':'div-descarga'" ></div>
      </ion-card>
    </ion-item>
  </ion-list>



  <ion-fab class="tema-principal"  slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button  class="tema-principal" (click)="create()"  > 
      <ion-icon name="add-circle-outline"></ion-icon>    
    </ion-fab-button>
  </ion-fab>


    <!-- MODAL RECEPCION ITEM-->
    <ion-modal #modaloc trigger="open-modal-recepcion" [canDismiss]="true" [presentingElement]="false" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template >
        <ion-header  >
          <ion-toolbar class="tema-principal">
            <ion-title>Carga o Descarga</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="close()"  color="danger" >Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
  
        <ion-content >
          <ion-grid>
            <ion-row>
              <ion-item class="input-custom">
                <!-- [(ngModel)]="operacion.codigo_camion"-->
                <ion-input class="input-custom input-center" [(ngModel)]="operacion.codigo_camion" placeholder="Codigo Camion" type="text" disabled="false"></ion-input>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-item class="input-custom ">
                <!-- [(ngModel)]="operacion.operacion"-->
                <ion-input class="input-custom input-center" [(ngModel)]="operacion.operador" placeholder="Operador" type="text" disabled="false"></ion-input>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-item class="input-custom ">
                <ion-label  position="floating">Sucursal:</ion-label>
                <!--[(ngModel)]= "operacion.sucursal" [value]="operacion.sucursal"-->
                <ion-select  class="input-custom " [(ngModel)]="operacion.sucursal" [value]="operacion.sucursal" placeholder="--Selecciona una sucursal--" >
                  <ion-select-option   value="Mazatlan">Mazatlan</ion-select-option>
                  <ion-select-option   value="Culiacan">Culiacan</ion-select-option>
                  <ion-select-option   value="Los Mochis">Los Mochis</ion-select-option>
                  <ion-select-option   value="Guasave">Guasave</ion-select-option>                  
                </ion-select>
              </ion-item>
            </ion-row>

            <ion-row class="items-center">
              <ion-item  >
                <ion-button (click)="generarOperacion(0)" color="success">
                  <img slot="icon-only" src="../../assets/img/box64.png">
                  CARGA
                </ion-button>
                <ion-button  (click)="generarOperacion(1)"  color="danger">
                  <img src="../../assets/img/box64.png">
                  DESCARGA
                </ion-button>
              </ion-item>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>
